.exploreLanding-locals {
    &__download {
        margin-bottom: 70px;
    }

    &__description {
        margin-bottom: 120px;
    }

    &__title {
        margin-bottom: 90px;
    }

    &__countryName {
        color: #666;
    }

    &__item {
        width: 11%;
        text-align: center;

        &:nth-child(10n - 1) {
            margin-bottom: 40px;
        }
    }
}
