.page {
    margin: 0;
    font-size: 18px;
    line-height: 1.33;
    background: #fff;
    color: #333;
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "wf_segoe-ui_normal", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;
}
