.exploreLanding {
    $offset: 100px;
    $base-width: 1300px;

    &__section {
        &_offset{
            padding-top: 80px;
        }

        &_wave {
            background-image: url('images/exploreLanding__wave.png');
            background-position: top left;
            background-repeat: repeat-x;
        }
    }

    &__content {
        width: $base-width;
        margin: auto;
        margin-bottom: calc($offset * 0.5);
        box-sizing: border-box;

        &_offset {
            &_base {
                padding-left: $offset;
            }
        }

        &_width {
            &_2-3 {
                width: calc($base-width * 0.66);
            }
        }

        &_align {
            &_center {
                text-align: center;
            }
        }
    }

    &__title {
        font-size: 3.2em;

        &_level {
            &_1 {
                font-size: 3.05em
            }

            &_3 {
                font-size: 2.1em;
            }
        }
    }

    &__row {
        display: flex;

        &_justify {
            &_between {
                justify-content: space-between;
            }

            &_center {
                justify-content: center;
            }
        }

        &_align {
            &_center {
                align-items: center;
            }
        }
    }
}
