.watchVideo {
    &__button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
    }

    &__play {
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
    }

    &__text {
        display: inline-block;
        font-size: 1.44em;
        vertical-align: middle;
    }
}
